<div class="navbar-brand" href="#" pageScroll pageScrollTarget="#home" [pageScrollDuration]="0"
  [pageScrollAdjustHash]="true" (click)="scrollTo('home')">
  <img src="/assets/img/logo-header.png" alt="Bella en Basiel logo">
</div>
@if (currentSection$ | async; as currentSection) {
  <div class="nav-links">
    <ul>
      @for (navItem of sections$ | async; track navItem) {
        <li>
          <button mat-button
            [ngClass]="{ 'active-section': navItem.id === currentSection}" (click)="scrollTo(navItem.id)"
            pageScroll [pageScrollTarget]="'#'+ navItem.id" [pageScrollAdjustHash]="true"
            name="navigate to {{ navItem.nameKey | transloco }}">
            {{ navItem.nameKey | transloco }}
          </button>
        </li>
      }
      <li>
        @if (currentLanguage$ | async; as currentLanguage) {
          <button mat-button [matMenuTriggerFor]="menu"
            [attr.aria-label]="'change language'">
            <img src="/assets/img/languages/{{ currentLanguage.code }}.jpg" alt="{{ currentLanguage.name }} flag"/>
          </button>
        }
        <mat-menu #menu="matMenu">
          @for (language of languages; track language) {
            <button mat-menu-item (click)="languageSelected(language)"
              [attr.aria-label]="'set '+ language.name">
              <mat-icon><img src="/assets/img/languages/{{language.code}}.jpg" alt="{{ language.name }} flag"/></mat-icon>
              <span>{{ language.name }}</span>
            </button>
          }
        </mat-menu>
      </li>
    </ul>
  </div>
}
