<div fxLayout="column" fxLayoutGap="8px">
  <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="8px">
    <h3 class="calendar-title">{{ viewDate | calendarDate:('month' + 'ViewTitle'): (language$ | async) }}</h3>
    <div>
      <button mat-mini-fab mwlCalendarPreviousView [view]="'month'" [(viewDate)]="viewDate"
              [disabled]="preventClickPrevious" [attr.aria-label]="'previous month'">
        <mat-icon>navigate_before</mat-icon>
      </button>
      <button mat-mini-fab mwlCalendarNextView [view]="'month'" [(viewDate)]="viewDate" [attr.aria-label]="'next month'">
        <mat-icon>navigate_next</mat-icon>
      </button>
    </div>
  </div>
  <mwl-calendar-month-view
    [weekStartsOn]="1"
    [viewDate]="viewDate"
    [events]="events$ | async"
    [cellTemplate]="availabilityCellTemplate"
    [locale]="language$ | async">
  </mwl-calendar-month-view>
</div>

<ng-template #availabilityCellTemplate let-day="day" let-locale="locale">
  <div class="date-cell"
       [ngClass]="{ occupied: day.events.length, free: !day.events.length, 'grayed-out': day.isPast, 'not-in-month': !day.inMonth }">
    {{ day.date | calendarDate:'monthViewDayNumber':locale }}
  </div>

  <!--{{ day | json }}-->
</ng-template>
