:host {
  display: block;
}

.date-cell {
  color: #fff;
  font-size: 20px;
  padding-left: 8px;

  &.occupied {
    background: #E44646;
  }

  &.free {
    background: #6DBD5A;
  }

  &.grayed-out {
    background: gray;
  }

  &.not-in-month {
    opacity: .5;
  }
}

.calendar-title {
  margin-bottom: 0;
  margin-top: 0;
}
