$brace-color: #8b8b8b;

:host {
  display: block;
  padding: 8px;
}

h1 {
  color: rgba(0, 0, 0, 0.87);
  font-size: 48px;
  margin-bottom: 16px;
  margin-top: 16px;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.45);
}
