<div class="container" fxLayout="row" fxLayoutGap="32px" fxLayoutAlign="space-between center">
  <a class="navbar-brand" href="#" pageScroll [pageScrollTarget]="'#home'" [pageScrollAdjustHash]="true"
     (click)="scrollTo('home')">
    <img src="assets/img/logo-header.png" alt="">
  </a>
  <div class="nav-links" *ngIf="currentSection$ | async as currentSection">
    <ul fxLayout="row" fxLayoutGap="16px">
      <li *ngFor="let navItem of navItems">
        <button mat-button pageScroll [pageScrollTarget]="'#'+ navItem.id" [pageScrollAdjustHash]="true"
                (click)="scrollTo(navItem.id)" [ngClass]="{ 'active-section': navItem.id === currentSection}">
          {{ navItem.nameKey | translate }}
        </button>
      </li>
    </ul>
  </div>
</div>
