:host {
  display: block;
}

h1 {
  background: #8EBCAF;
}

.activities-first-row {
  margin-bottom: 64px;
}

p {
  width: 100%;
}

.activity-image-wrapper {
  height: 280px;
  width: 300px;

  img {
    height: 100%;
    width: 100%;
  }
}
