<bnb-section-title>{{ 'ACTIVITIES.title' | translate }}</bnb-section-title>
<div class="container section-margin">
  <div fxLayout="column" fxLayoutGap="32px" class="text-center">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlex="50">
      <div fxFlex.gt-sm="50">
        <img class="mat-elevation-z6" src="/assets/img/activiteiten_relax.jpg">
        <h3>{{ 'ACTIVITIES.relax.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.relax.text' | translate"></p>
        <div>
          <a href="http://bruggeleeft.be">bruggeleeft.be</a>
          <br>
          <a href="http://virtualbruges.be">virtualbruges.be</a>
        </div>
      </div>
      <div fxFlex.gt-sm="50">
        <img class="mat-elevation-z6" src="/assets/img/activiteiten_cultuur.jpg">
        <h3>{{ 'ACTIVITIES.culture.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.culture.text' | translate"></p>
        <div>
          <a href="http://bezoekers.brugge.be">bezoekers.brugge.be</a>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="32px" fxFlex="50">
      <div fxFlex.gt-sm="50">
        <img class="mat-elevation-z6" src="/assets/img/activiteiten_sportennatuur.jpg">
        <h3>{{ 'ACTIVITIES.sportsAndNature.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.sportsAndNature.text' | translate"></p>
        <div>
          <a href="http://brugseommeland.be">brugseommeland.be</a>
          <br>
          <a href="http://horecagids.be">westtoer.be</a>
        </div>
      </div>
      <div fxFlex.gt-sm="50">
        <img class="mat-elevation-z6" src="/assets/img/activiteiten_gastronomie.jpg">
        <h3>{{ 'ACTIVITIES.gastronomy.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.gastronomy.text' | translate"></p>
        <div>
          <a href="http://horecagids.be">horecagids.be</a>
          <br>
          <a href="http://pocketresto.be">pocketresto.be</a>
        </div>
      </div>
    </div>
  </div>
</div>
