<h1 class="text-center">Activities</h1>
<div class="container">
  <div fxLayout="column" fxLayoutGap="32px" class="text-center">
    <div fxLayout="row" fxLayoutGap="32px" fxFlex="50">
      <div fxFlex="50">
        <h3>Relax Bruges</h3>
        <p>
          A romantic stroll along the illuminated fairy-tale like Canals, a tasty beer in a pub or a frivolous festival on the beautiful squares, put you in the perfect holiday mood.
          <br>
          Belgian chocolate and waffles make your holiday perfect !
        </p>
        <div>
          <a href="http://bruggeleeft.be">bruggeleeft.be</a>
          <br>
          <a href="http://virtualbruges.be">virtualbruges.be</a>
        </div>
      </div>
      <div fxFlex="50">
        <h3>Culture</h3>
        <p>
          With its historical buildings and imposing city gates Bruges belongs to Unesco World Heritage site. Numerous museums and exhibitions fill the culture finder.
        </p>
        <div>
          <a href="http://bezoekers.brugge.be">bezoekers.brugge.be</a>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayoutGap="32px" fxFlex="50">
      <div fxFlex="50">
        <h3>Sports and nature</h3>
        <p>
          Around the city there are important green footpaths and nature reserves. And there is also a possibility to safely ride your bike on the cycle lanes around the city.
          <br>
          You can also reach the coast (e.g. the nature reserve ‘het Zwin’ and the polders near Uitkerke) by bike, while visiting colourful polder villages.
          <br>
          The Dutch border town of Sluis is only 20 kilometres away and the book village of Damme is even within walking distance.
        </p>
        <div>
          <a href="http://brugseommeland.be">brugseommeland.be</a>
          <br>
          <a href="http://horecagids.be">westtoer.be</a>
        </div>
      </div>
      <div fxFlex="50">
      <h3>Gastronomy</h3>
      <p>
        Fine dining is part of our culture of Burgundy. You’ll find in Bruges dining options of fries tent to Michelin-star restaurants.
      </p>
      <div>
        <a href="http://horecagids.be">horecagids.be</a>
        <br>
        <a href="http://pocketresto.be">pocketresto.be</a>
      </div>
    </div>
    </div>
  </div>
</div>
