<bnb-section-title>{{ 'ACTIVITIES.title' | translate }}</bnb-section-title>
<div class="container section-margin">
  <div>
    <div class="activities-first-row" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="64px">
      <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="start center">
        <div class="activity-image-wrapper" bnbLazyLoadImages>
          <img class="mat-elevation-z6" src="/assets/svg/loading-image.svg" data-src="/assets/img/activiteiten_relax.jpg" [alt]="'ACTIVITIES.relax.title' | translate">
        </div>
        <h3>{{ 'ACTIVITIES.relax.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.relax.text' | translate"></p>
        <div>
          <a href="https://www.bruggeleeft.be/">bruggeleeft.be</a>
          <br>
          <a href="https://www.visitbruges.be/">visitbruges.be</a>
        </div>
      </div>
      <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="start center">
        <div class="activity-image-wrapper" bnbLazyLoadImages>
          <img class="mat-elevation-z6" src="/assets/svg/loading-image.svg" data-src="/assets/img/activiteiten_cultuur.jpg" [alt]="'ACTIVITIES.culture.title' | translate">
        </div>
        <h3>{{ 'ACTIVITIES.culture.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.culture.text' | translate"></p>
        <div>
          <a href="https://bezoekers.brugge.be">bezoekers.brugge.be</a>
        </div>
      </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="64px">
      <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="start center">
        <div class="activity-image-wrapper" bnbLazyLoadImages>
          <img class="mat-elevation-z6" src="/assets/svg/loading-image.svg" data-src="/assets/img/activiteiten_sportennatuur.jpg" [alt]="'ACTIVITIES.sportsAndNature.title' | translate">
        </div>
        <h3>{{ 'ACTIVITIES.sportsAndNature.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.sportsAndNature.text' | translate"></p>
        <div>
          <a href="https://www.brugseommeland.be/">brugseommeland.be</a>
          <br>
          <a href="https://www.westtoer.be/nl">westtoer.be</a>
          <br>
          <a href="https://www.visitdamme.be">visitdamme.be</a>
          <br>
          <a href="https://www.vvvzeeland.nl">vvvzeeland.nl</a>
          <br>
          <a href="https://www.vlaanderen-fietsland.be">vlaanderen-fietsland.be</a>
          <br>
          <a href="https://www.wandelknooppunt.be">wandelknooppunt.be</a>
        </div>
      </div>
      <div fxFlex.gt-sm="50" fxLayout="column" fxLayoutAlign="start center">
        <div class="activity-image-wrapper" bnbLazyLoadImages>
          <img class="mat-elevation-z6" src="/assets/svg/loading-image.svg" data-src="/assets/img/activiteiten_gastronomie.jpg" [alt]="'ACTIVITIES.gastronomy.title' | translate">
        </div>
        <h3>{{ 'ACTIVITIES.gastronomy.title' | translate }}</h3>
        <p [innerHtml]="'ACTIVITIES.gastronomy.text' | translate"></p>
        <div>
          <a href="http://horecagids.be">horecagids.be</a>
          <br>
          <a href="http://pocketresto.be">pocketresto.be</a>
        </div>
      </div>
    </div>
  </div>
</div>
