<bnb-section-title>Welcome</bnb-section-title>
<div class="container">
  <div class="welcome-info" fxLayout="row" fxLayoutAlign="center space-evenly" fxLayoutGap="64px">
    <mat-card fxFlex="33">
      <mat-card-title>Hosts</mat-card-title>
      <img mat-card-image src="/assets/img/welkom_gastheervrouw.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          As born and raised locals we know our city and we like to share this with our guests. Still we discover some romantic places, tasty restaurants and cosy pubs.
          <br>
          We advise you about all kinds of activities, events, musea,….
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="33">
      <mat-card-title>Our house</mat-card-title>
      <img mat-card-image src="/assets/img/welkom_huis.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The guests have their own room and bathroom. Breakfast is served in the dining room or outside in our sunny and flowered garden.
          <br>
          Our chickens don’t like other pets.
          <br>
          Smoking is allowed in the garden.
        </p>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex="33">
      <mat-card-title>Our neighborhood</mat-card-title>
      <img mat-card-image src="/assets/img/welkom_buurt.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          We gladly welcome you in our guestroom, situated in the quiet and green Saint Ann district, a working-class area within the old city walls of Bruges.
          <br>
          Via a 10-minute walk along picturesque small streets you will arrive at the city centre, from where you can enjoy numerous historic buildings, events, museums, festivals, exhibitions…
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
