<bnb-header id="home"></bnb-header>
<bnb-section sectionName="welcome">
  <bnb-welcome id="welcome"></bnb-welcome>
</bnb-section>
<bnb-guestbook></bnb-guestbook>
<bnb-section sectionName="room">
  <bnb-room id="room"></bnb-room>
</bnb-section>
<bnb-section sectionName="pictures">
  <bnb-pictures id="pictures"></bnb-pictures>
</bnb-section>
<bnb-section sectionName="activities">
  <bnb-activities id="activities"></bnb-activities>
</bnb-section>
<bnb-section sectionName="contact">
  <bnb-contact id="contact"></bnb-contact>
</bnb-section>
