<bnb-header id="home" [ngClass]="{
    'header-with-sticky-navbar': media.isActive('gt-sm'),
    'header-without-navbar': media.isActive('lt-md')
    }"></bnb-header>
<bnb-section sectionId="welcome" sectionName="NAV.welcome">
  <bnb-welcome id="welcome"></bnb-welcome>
</bnb-section>
<bnb-guestbook></bnb-guestbook>
<bnb-section sectionId="room" sectionName="NAV.room">
  <bnb-room id="room"></bnb-room>
</bnb-section>
<bnb-section sectionId="pictures" sectionName="NAV.pictures">
  <bnb-pictures id="pictures"></bnb-pictures>
</bnb-section>
<bnb-section sectionId="activities" sectionName="NAV.activities">
  <bnb-activities id="activities"></bnb-activities>
</bnb-section>
<bnb-section sectionId="contact" sectionName="NAV.contact">
  <bnb-contact id="contact"></bnb-contact>
</bnb-section>
