<app-header id="home" [ngClass]="{
    'header-with-sticky-navbar': media.isActive('gt-sm'),
    'header-without-navbar': media.isActive('lt-md')
    }"></app-header>
<app-section sectionId="welcome" sectionName="NAV.welcome">
  <app-welcome id="welcome"></app-welcome>
</app-section>
<app-section sectionId="guestbook" sectionName="NAV.guestbook">
  <app-guestbook id="guestbook"></app-guestbook>
</app-section>
<app-section sectionId="room" sectionName="NAV.room">
  <app-room id="room"></app-room>
</app-section>
<app-section sectionId="pictures" sectionName="NAV.pictures">
  <app-pictures id="pictures"></app-pictures>
</app-section>
<app-section sectionId="activities" sectionName="NAV.activities">
  <app-activities id="activities"></app-activities>
</app-section>
<app-section sectionId="contact" sectionName="NAV.contact">
  <app-contact id="contact"></app-contact>
</app-section>
