<bnb-section-title>{{ 'ROOM.title' | translate }}</bnb-section-title>
<div class="container section-margin" fxLayout="column" fxLayoutGap="32px">
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center start" fxLayoutAlign.lt-md="center center"
       class="room-details mat-elevation-z3">
    <div class="room-image-wrapper">
      <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
      <mat-chip-list class="pricing-chips">
        <mat-chip color="accent" selected="true" [innerHtml]="'ROOM.night' | translate:{amount: '75'}"></mat-chip>
        <mat-chip color="accent" selected="true" [innerHtml]="'ROOM.breakfast' | translate:{amount: '10'}"></mat-chip>
      </mat-chip-list>
    </div>
    <div fxLayout="column" class="room-info">
      <h3>{{ 'ROOM.room1.title' | translate }}</h3>
      <p [innerHtml]="'ROOM.room1.text' | translate"></p>
      <div class="utilities-icons">
        <mat-icon matTooltip="Max occupancy: 2 persons" matTooltipPosition="above">hotel</mat-icon>
        <mat-icon matTooltip="WiFi available" matTooltipPosition="above">wifi</mat-icon>
        <mat-icon matTooltip="Breakfast optional" matTooltipPosition="above">free_breakfast</mat-icon>
        <mat-icon matTooltip="No smoking inside" matTooltipPosition="above">smoke_free</mat-icon>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center" fxLayoutGap="16px">
    <mat-card fxFlex.gt-sm="33" class="mat-elevation-z3">
      <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon color="primary">info_outline</mat-icon>
        <span>{{ 'ROOM.extraInfo.title' | translate }}</span>
      </mat-card-title>
      <mat-card-content>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" *ngFor="let x of extraInfo; let i = index;">
          <mat-icon color="accent">check</mat-icon>
          <span [innerHTML]="('ROOM.extraInfo.item'+(i+1)) | translate"></span>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlex.gt-sm="67" class="mat-elevation-z3">
      <mat-card-title fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon color="primary">attach_money</mat-icon>
        <span>{{ 'ROOM.booking.title' | translate }}</span>
      </mat-card-title>
      <mat-card-content>
        <p [innerHtml]="'ROOM.booking.text' | translate"></p>
        <h4>{{ 'ROOM.booking.conditions' | translate }}:</h4>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px" *ngFor="let x of bookings; let i = index">
          <mat-icon color="accent">check</mat-icon>
          <span [innerHTML]="('ROOM.booking.item'+(i+1)) | translate"></span>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
