:host {
  display: block;
}

.room-image-wrapper {
  position: relative;
  width: 100%;
}

h1 {
  background: #8EBCAF;
}

.utilities-icons {
  color: #9E9E9E;
}

.room-info {
  padding: 32px;
}

mat-tab-group img {
  display: flex;
}

.pricing-chips {
  bottom: 0;
  left: 0;
  margin-bottom: 16px;
  margin-left: 16px;
  position: absolute;
  z-index: 3000;
}

.check-list {
  list-style: none;
}

ngx-gallery {
  display: block;
}

.extra-info span {
  width: 100%;
}

.booking-conditions span {
  width: 100%;
}
