<div id="header-content" fxLayout="column" fxLayoutAlign="center center" [ngClass]="{
    'header-content-with-sticky-navbar': media.isActive('gt-sm'),
    'header-content-without-navbar': media.isActive('lt-md')
    }">
  <div class="header-text-content" fxFlex="stretch" fxLayout="column" fxLayoutAlign="center center">
    <h1 class="header-title text-center">BELLA & BASIEL</h1>
    <div class="header-text">
      <h2 class="text-center header-subtitle" [innerHtml]="'HEADER.subtitle' | translate"></h2>
      <hr>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="8px">
      <button mat-raised-button color="primary" class="header-button" (click)="scrollTo('welcome')" pageScroll
              pageScrollTarget="#welcome" [pageScrollAdjustHash]="true" [attr.aria-label]="'scroll to first section'">
        <mat-icon>arrow_downward</mat-icon>
        {{ 'HEADER.visitWebsite' | translate }}
      </button>
      <button mat-raised-button color="primary" class="header-button" (click)="scrollTo('room')" pageScroll
              pageScrollTarget="#room" [pageScrollAdjustHash]="true" [attr.aria-label]="'scroll to availability'">
        <mat-icon>event_available</mat-icon>
        {{ 'HEADER.checkAvailability' | translate }}
      </button>
    </div>
  </div>
  <div class="text-center header-copyright">
    <div fxHide.gt-sm="true">
      <a href="https://www.airbnb.com/rooms/11550351" target="_blank" rel="noopener" aria-label="airbnb page">
        <img src="/assets/img/air-bnb.png" alt="Airbnb logo">
      </a>
      <a href="https://www.visitbruges.be/nl/ella--asiel" target="_blank" rel="noopener" aria-label="visitbruges page">
        <img class="unclear-logo" src="/assets/img/visit-bruges.png" alt="visitbruges.be logo">
      </a>
      <a href="https://www.westtoer.be/nl/slapen/bella-basiel" target="_blank" rel="noopener" aria-label="westtoer page">
        <img class="unclear-logo" src="/assets/svg/westtoer.svg" alt="westtoer.be logo">
      </a>
    </div>
    <span>&reg; 2018 Bella en Basiel -
      <span class="nowrap">{{ 'HEADER.contact' | translate }}: <a href="tel:+32 472 643527">+32 472 643527</a></span>
    </span>
  </div>
  <div fxHide.lt-md="true" class="external-links-pc">
    <a href="https://www.airbnb.com/rooms/11550351" target="_blank" rel="noopener" aria-label="airbnb page">
      <img src="/assets/img/air-bnb.png" alt="Airbnb logo">
    </a>
    <a href="https://www.visitbruges.be/nl/ella--asiel" target="_blank" rel="noopener" aria-label="visitbruges page">
      <img class="unclear-logo" src="/assets/img/visit-bruges.png" alt="visitbruges.be logo">
    </a>
    <a href="https://www.westtoer.be/nl/slapen/bella-basiel" target="_blank" rel="noopener" aria-label="westtoer page">
      <img class="unclear-logo" src="/assets/svg/westtoer.svg" alt="westtoer.be logo">
    </a>
  </div>
</div>
