<div id="header-content" fxLayout="column">
  <div fxFlex="stretch" fxLayout="column" fxLayoutAlign="center center">
    <h1>BELLA & BASIEL</h1>
    <div>
      <h2>Your Favorite Cosy and Quiet Bed and Breakfast in BRUGES</h2>
      <hr>
    </div>
    <img src="/assets/img/air-bnb.png">
    <div>
      <button mat-raised-button color="primary" (click)="scrollTo('welcome')" pageScroll pageScrollTarget="#welcome" [pageScrollAdjustHash]="true">
        <mat-icon>arrow_downward</mat-icon>
        Visit the website
      </button>
      <button mat-raised-button color="primary" (click)="scrollTo('contact')" pageScroll pageScrollTarget="#contact" [pageScrollAdjustHash]="true">
        <mat-icon>event_available</mat-icon>
        Check availability
      </button>
    </div>
  </div>
  <div class="text-center header-copyright">
    &reg; 2016 B&B - Contact: <a href="tel:+32 472 643527">+32 472 643527</a>
  </div>
</div>
