:host {
  background: url('/assets/img/home_img1.jpg') no-repeat fixed center;
  background-size: cover;
  display: block;
  height: auto;
  min-height: calc(100vh - 80px);
  width: 100%;
  color: white;
}

#header-content {
  background-image: none;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  height: 100%; // fallback
  min-height: calc(100vh - 80px);
}

.header-copyright {
  margin: 8px;
}
