<h2 class="text-center">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.title' | transloco }}</h2>
<div class="add-reviews-row" fxLayout="row" fxLayoutGap="16px">
  <ol fxFlex="45">
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text1' | transloco }} <a
      href="https://www.airbnb.com/api/v2/reviews?key=d306zoyjsyarp7ifhu67rjxn52tv0t20&listing_id=12102270&role=guest&_format=for_p3&_limit=100&_offset=0&_order=recent"
      target="_blank" rel="noopener">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text2' | transloco }}</a> / <a
      href="https://www.airbnb.com/api/v2/reviews?key=d306zoyjsyarp7ifhu67rjxn52tv0t20&listing_id=27257439&role=guest&_format=for_p3&_limit=100&_offset=0&_order=recent"
      target="_blank" rel="noopener">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text3' | transloco }}</a> / <a
      href="https://www.airbnb.com/api/v2/reviews?key=d306zoyjsyarp7ifhu67rjxn52tv0t20&listing_id=11550351&role=guest&_format=for_p3&_limit=100&_offset=0&_order=recent"
      target="_blank" rel="noopener">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text4' | transloco }}</a></li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step2' | transloco }} (ctrl + a)</li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step3' | transloco }} (ctrl + c)</li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step4' | transloco }} (ctrl + v)</li>
    <li>
      <span>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step5' | transloco }} </span>
      <span>"{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.actions.add' | transloco }}"</span>
    </li>
  </ol>
  <form [formGroup]="addReviewsFormGroup" fxFlex="45" fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <textarea matInput formControlName="reviewsJson"
                [placeholder]="'GUESTBOOK_MANAGER.ADD_REVIEWS.pasteHere' | transloco" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.actions.add' | transloco }}</button>
  </form>
</div>
