<h2 class="text-center">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.title' | translate }}</h2>
<div class="add-reviews-row" fxLayout="row" fxLayoutGap="16px">
  <ol fxFlex="45">
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text1' | translate }} <a
      href="https://www.airbnb.com/api/v2/reviews?key=d306zoyjsyarp7ifhu67rjxn52tv0t20&listing_id=12102270&role=guest&_format=for_p3&_limit=100&_offset=0&_order=recent"
      target="_blank">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text2' | translate }}</a> / <a
      href="https://www.airbnb.com/api/v2/reviews?key=d306zoyjsyarp7ifhu67rjxn52tv0t20&listing_id=11550351&role=guest&_format=for_p3&_limit=100&_offset=0&_order=recent"
      target="_blank">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step1.text3' | translate }}</a></li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step2' | translate }} (ctrl + a)</li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step3' | translate }} (ctrl + c)</li>
    <li>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step4' | translate }} (ctrl + v)</li>
    <li>
      <span>{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.steps.step5' | translate }} </span>
      <span>"{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.actions.add' | translate }}"</span>
    </li>
  </ol>
  <form [formGroup]="addReviewsFormGroup" fxFlex="45" fxLayout="column" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <textarea matInput formControlName="reviewsJson"
                [placeholder]="'GUESTBOOK_MANAGER.ADD_REVIEWS.pasteHere' | translate" rows="5"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">{{ 'GUESTBOOK_MANAGER.ADD_REVIEWS.actions.add' | translate }}</button>
  </form>
</div>
