<bnb-navbar class="mat-elevation-z6" *ngIf="media.isActive('gt-sm')"></bnb-navbar>
<div class="menu-button-overlay" *ngIf="media.isActive('lt-md') && (navBarClosed$ | async) && !(overlayShown$ | async)">
  <button name="button that opens the sidenav" mat-fab (click)="openSidenav()">
    <mat-icon>menu</mat-icon>
  </button>
</div>
<mat-sidenav-container [ngClass]="{
    'sidenav-container-with-sticky-navbar': media.isActive('gt-sm'),
    'sidenav-container-without-navbar': media.isActive('lt-md')
    }">
  <mat-sidenav role="directory" [fixedInViewport]="false" (closedStart)="onSidenavClose()">
    <bnb-sidenav></bnb-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <div #contentWrapper id="content-wrapper">
      <div id="content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
