<div class="container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" fxLayout.lt-md="column"
     *ngIf="authState | async as user; else showLogin">
  <a fxFlex="noshrink" mat-raised-button color="primary" routerLink="/" aria-label="go to website">
    <mat-icon>home</mat-icon>
    <span>{{ 'ADMIN.actions.toWebsite' | transloco }}</span>
  </a>
  <span fxFlex="grow"></span>
  <p>{{ 'ADMIN.loggedInAs' | transloco }} {{ user.displayName }}</p>
  <div>
    <button mat-raised-button color="accent" (click)="logout()">
      <span>{{ 'ADMIN.actions.logout' | transloco }}</span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>


<!--<app-section *ngIf="afAuth.authState | async" sectionId="picture-manager" sectionName="NAV.managePictures">-->
<!--  <app-picture-manager id="picture-manager"></app-picture-manager>-->
<!--</app-section>-->
<app-section *ngIf="authState | async" sectionId="guestbook-manager" sectionName="NAV.manageGuestbook">
  <app-guestbook-manager id="guestbook-manager"></app-guestbook-manager>
</app-section>


<ng-template #showLogin>
  <div class="container" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="accent" (click)="login()">Login with Google</button>
  </div>
</ng-template>
