<div class="container" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px" fxLayout.lt-md="column"
     *ngIf="afAuth.authState | async as user; else showLogin">
  <a fxFlex="noshrink" mat-raised-button color="primary" routerLink="/">
    <mat-icon>home</mat-icon>
    <span>To website</span>
  </a>
  <span fxFlex="grow"></span>
  <p>Logged in as {{ user.displayName }}</p>
  <div>
    <button mat-raised-button color="accent" (click)="logout()">
      <span>Logout</span>
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>


<bnb-section *ngIf="afAuth.authState | async" sectionId="guestbook-manager" sectionName="NAV.manageGuestbook">
  <bnb-guestbook-manager id="guestbook-manager"></bnb-guestbook-manager>
</bnb-section>

<ng-template #showLogin>
  <div class="container" fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="accent" (click)="login()">Login with Google</button>
  </div>
</ng-template>
