:host {
  color: #fff;
  display: block;
  position: relative;
}

.pictures-background {
  background: url('/assets/img/pictures_background.jpg') no-repeat no-repeat scroll center;
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.pictures-content {
  padding-bottom: 32px;
  position: relative;
}

.pictures-title {
  font-family: 'Yellowtail', cursive;
  font-size: 64px;
  margin: 0;
  text-shadow: 0 1px rgba(000, 000, 000, .45);
}
