<div class="pictures-background" lazy-load-images>
    <div data-background-src="/assets/img/pictures_background.jpg"></div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" class="container pictures-content">
    <h1 class="pictures-title text-center">{{ 'PICTURES.title' | translate }}</h1>

    <ng-container *ngIf="selectedImage$ | async as img">
        <div fxLayout="column" fxLayoutGap="16px" class="full-width">
            <div class="showcase">
                <figure lazy-load-images>
                    <img *ngIf="!(isChangingImage$ | async)" src="/assets/svg/loading-image.svg"
                         [attr.data-src]="img.showcase.img"
                         (click)="openImageModal(img)"/>
                </figure>
                <mat-icon class="image-nav image-nav-left" (click)="gotoPreviousImage()">chevron_left</mat-icon>
                <mat-icon class="image-nav image-nav-right" (click)="gotoNextImage()">chevron_right</mat-icon>
            </div>
            <div class="thumbnails">
                <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px" #scrollContainer
                     id="scroll-container">
                    <figure *ngFor="let thumbnail of images" lazy-load-images fxFlex="none">
                        <img [ngClass]="{'selected-thumbnail': img === thumbnail}" src="/assets/svg/loading-image.svg"
                             [attr.data-src]="thumbnail.plain.img"
                             (click)="selectImage(thumbnail)" [id]="'picture' + thumbnail.id"/>
                    </figure>
                </div>
                <mat-icon class="image-nav image-nav-left" (click)="scrollLeft()">chevron_left</mat-icon>
                <mat-icon class="image-nav image-nav-right" (click)="scrollRight()">chevron_right</mat-icon>
            </div>
        </div>
    </ng-container>
    <ks-modal-gallery [id]="10" [modalImages]="images" [plainGalleryConfig]="galleryConfig"
                      [currentImageConfig]="{description: galleryDescriptionConfig}"
                      (close)="onPreviewClose()"></ks-modal-gallery>
</div>
