<form [formGroup]="createReviewGroup" fxLayout="column" (ngSubmit)="onSubmit()">
  <h4 mat-dialog-title>Create review</h4>
  <mat-dialog-content fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>

      <mat-form-field>
        <input matInput #dateDirectivePicker placeholder="Date" name="someName" [dpDayPicker]="datepickerConfig"
               formControlName="date"
               mode="month" theme="dp-material" attachTo=".mat-input-wrapper"/>
      </mat-form-field>

      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
        <div>Stars:</div>
        <mat-slider thumbLabel formControlName="stars" tickInterval="1" min="0" max="5" step="1"></mat-slider>
        <div>({{ createReviewGroup.controls['stars'].value }})</div>
      </div>

      <mat-form-field>
        <textarea matInput rows="10" formControlName="text" placeholder="Write review text here..."></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button mat-dialog-close [disabled]="formsubmitting$ | async">
      CANCEL
    </button>
    <button mat-raised-button color="primary" type="submit"
            [disabled]="!createReviewGroup.valid || (formsubmitting$ | async)">
      CREATE
    </button>
  </mat-dialog-actions>
</form>
