<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Create review</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form fxLayout="column">
      <mat-form-field>
        <input matInput placeholder="Name">
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Date" name="someName" [dpDayPicker]="datepickerConfig"
               mode="month" theme="dp-material" attachTo=".mat-input-wrapper"/>
      </mat-form-field>
      <mat-slider thumbLabel tickInterval="1" min="0" max="5" step="1" value="3"></mat-slider>

      <mat-form-field>
        <textarea matInput placeholder="Review text"></textarea>
      </mat-form-field>
    </form>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="center">
    <button mat-raised-button color="primary">CREATE</button>
  </mat-card-actions>
</mat-card>
