<bnb-section-title>Contact</bnb-section-title>
<div class="container">
  <div fxLayout="row" fxLayoutGap="32px">
    <div fxLayout="column" fxLayoutGap="16px" fxFlex="60">
      <div>
        <h4>Bella en Basiel</h4>
        <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>location_on</mat-icon>
          <span>Rijkepijndersstraat 7, 8000 Brugge</span>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>phone</mat-icon>
          <span><a href="tel:+32 472 64 35 27">+32 472 64 35 27</a></span>
        </p>
        <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>email</mat-icon>
          <span><a href="mailto:bellaenbasiel@telenet.be">bellaenbasiel@telenet.be</a></span>
        </p>
      </div>
      <div>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon>accessibility</mat-icon>
          <h4>Access</h4>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-icon color="accent">check</mat-icon>
          <span>
            <b>By train:</b> <a href="http://b-rail.be">b-rail.be</a>
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-icon color="accent">check</mat-icon>
          <span>
            <b>By bus:</b> In front of the station take bus nr 4, 14, or 43 and ask the driver to stop at the stop
            Carmersbrug. From 20.00 o’clock in the evening, you have to take the evening line koolkerke-Dudzele nr 90.
            You walk over the Carmersbridge and you find our house in the 3th street on the left. This is only 200 m to
            walk.
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-icon color="accent">check</mat-icon>
          <span>
            <b>By taxi:</b> ca 10€
          </span>
        </div>
        <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
          <mat-icon color="accent">check</mat-icon>
          <span>
            <b>By car:</b> Loading and unloading is allowed in front of our house. We’ll help you to find parking space.
          </span>
        </div>
      </div>
    </div>
    <div fxLayout="column" fxFlex="40">
      <mat-card class="availability-data mat-elevation-z3">
        <mat-card-title fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
          <mat-icon color="primary">event_available</mat-icon>
          <span>Availability</span>
        </mat-card-title>
        <mat-card-content>
          <bnb-availability-calendar></bnb-availability-calendar>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
<agm-map class="map-footer" [latitude]="lat" [longitude]="lng" [zoom]="zoom">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
