:host {
  display: block;
}

.map-footer {
  background: #c6c6c6;
  height: 300px;
  text-align: center;
}

h1 {
  background: #8EBCAF;
}

.directions-form {
  margin-left: 32px;
}

.availability-data {
  margin-top: 32px;
}
