<app-section-title>{{ 'CONTACT.title' | transloco }}</app-section-title>
<div class="container section-margin">
  <div fxLayout="column" fxLayoutGap="16px">
    <div>
      <h4>Bella en Basiel</h4>
      <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon>location_on</mat-icon>
        <span>
            <a href="https://www.google.com/maps/place/Rijkepijndersstraat+7,+8000+Brugge" target="_blank"
               rel="noopener">
              Rijkepijndersstraat 7, 8000 Brugge
            </a>
          </span>
      </p>
      <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon>phone</mat-icon>
        <span><a href="tel:+32 472 64 35 27">+32 472 64 35 27</a></span>
      </p>
      <p fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon>email</mat-icon>
        <span><a href="mailto:bellaenbasiel@telenet.be">bellaenbasiel@telenet.be</a></span>
      </p>
    </div>
    <div class="access">
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <mat-icon>accessibility</mat-icon>
        <h4>{{ 'CONTACT.access.title' | transloco }}</h4>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <mat-icon color="accent">check</mat-icon>
        <span [innerHtml]="'CONTACT.access.train' | transloco"></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <mat-icon color="accent">check</mat-icon>
        <span [innerHtml]="'CONTACT.access.bus' | transloco"></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <mat-icon color="accent">check</mat-icon>
        <span [innerHtml]="'CONTACT.access.taxi' | transloco"></span>
      </div>
      <div fxLayout="row" fxLayoutAlign="start start" fxLayoutGap="8px">
        <mat-icon color="accent">check</mat-icon>
        <span [innerHtml]="'CONTACT.access.car' | transloco"></span>
      </div>
    </div>
  </div>
</div>
<google-map [center]="center" [zoom]="zoom" [width]="'100%'" [height]="'300px'">
  <map-marker [position]="center"></map-marker>
</google-map>
