<h2 class="text-center">{{ 'PICTURE_MANAGER.SORT_PICTURES.title' | transloco }}</h2>
<div *ngIf="selectedPicture$ | async" class="sort-picture-buttons" fxLayout="row" fxLayoutAlign="space-between center">
  <button mat-raised-button color="warn" (click)="deleteSelected()">
    <mat-icon>delete</mat-icon>
    {{ 'PICTURE_MANAGER.SORT_PICTURES.actions.delete' | transloco }}
  </button>
  <div fxLayout="row" fxLayoutGap="32px">
    <button mat-mini-fab [disabled]="preventClickMoveLeft" (click)="moveLeft()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-mini-fab [disabled]="preventClickMoveRight" (click)="moveRight()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <button mat-raised-button color="accent" (click)="saveChanges()">
    <mat-icon>save</mat-icon>
    <span>{{ 'PICTURE_MANAGER.SORT_PICTURES.actions.save' | transloco }}</span></button>
</div>
<div fxLayout="row wrap" fxLayoutAlign="center center" fxLayoutGap="8px">
  <div *ngFor="let picture of pictures$ | async">
    <img [src]="picture.small.url" [ngClass]="{ 'selected-picture': picture === (selectedPicture$ | async) }"
         (click)="selectPicture(picture)" alt="">
  </div>
</div>
