:host {
  color: #fff;
  display: block;
  position: relative;
}

.guestbook-background {
  background: url('/assets/img/guestbook_background.jpg') no-repeat scroll center;
  background-size: cover;
  filter: blur(5px);
  height: 100%;
  margin: 0 auto;
  position: absolute;
  width: 100%;
}

.guestbook-stars {
  padding-bottom: 32px;
}

mat-chip {
  margin-bottom: 8px;
}

.filter-title {
  margin-bottom: 8px;
}

.profile-picture {
  border: 2px solid #fff;
  border-radius: 50%;
  overflow: hidden;
}

.guestbook-content {
  padding-bottom: 32px;
  position: relative;
}

.guestbook-entry-quote-icon {
  font-size: 60px;
  height: 60px;
  width: 60px;
}

.guestbook-entry-box {
  background: rgba(50, 162, 183, 0.77);
  padding: 24px;
}

.guestbook-title {
  font-family: 'Yellowtail', cursive;
  font-size: 64px;
  margin: 0;
}

.review-count {
  background: rgba(50, 162, 183, 0.77);
  padding: 8px;
}
