@import '~@angular/material/theming';

@include mat-core();
@import './theme';
@import './variables';
@import '~angular-calendar/css/angular-calendar.css';
@import '~font-awesome/css/font-awesome.css';

body {
  display: block;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  margin: 0;
  width: 100vw;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding: 16px;
}

.section-margin {
  margin-bottom: 64px;
  margin-top: 32px;
}

@media (min-width: 600px) {
  .container {
    width: 590px;
  }
}

@media (min-width: 960px) {
  .container {
    width: 900px;
  }
}

@media (min-width: 1280px) {
  .container {
    width: 1120px;
  }
}

.text-center {
  text-align: center;
}

.ngx-gallery-preview-top {
  z-index: 1000;
}

.cal-month-view .cal-day-cell {
  min-height: 0;
}

a {
  color: #39bad2;
  outline: 0;
  text-decoration: none;
}

.full-width {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}
