@use '@angular/material' as mat;
@import '@angular/material';
@import './mixins';

$custom-typography: mat.m2-define-typography-config(
  $font-family: 'Lato, sans-serif',
  $headline-1: mat.m2-define-typography-level(102px, 102px, 700),
  $headline-2: mat.m2-define-typography-level(64px, 64px, 700),
  $headline-3: mat.m2-define-typography-level(51px, 56px, 700),
  $headline-4: mat.m2-define-typography-level(36px, 40px, 700),
  $headline-5: mat.m2-define-typography-level(25px, 32px, 700),
  $headline-6: mat.m2-define-typography-level(21px, 32px, 700),
  $subtitle-1: mat.m2-define-typography-level(17px, 28px, 700),
  $subtitle-2: mat.m2-define-typography-level(15px, 24px, 700),
  $body-1: mat.m2-define-typography-level(17px, 24px, 400),
  $body-2: mat.m2-define-typography-level(15px, 20px, 400),
  $caption: mat.m2-define-typography-level(13px, 20px, 400),
  $overline: mat.m2-define-typography-level(11px, 14px, 400),
);

$app-primary-palette: mat.m2-define-palette(mat.$m2-green-palette, 600);
$app-accent-palette: mat.m2-define-palette(mat.$m2-light-blue-palette);
$app-warn-palette: mat.m2-define-palette(mat.$m2-deep-orange-palette);

$app-theme: mat.m2-define-light-theme((
  color: (
    primary: $app-primary-palette,
    accent: $app-accent-palette,
    warn: $app-warn-palette,
  ),
  typography: $custom-typography,
));

@include mat.all-component-themes($app-theme);
@include body-theme($app-theme);
